#regexpEditor {
    font-size: 18px;
    
    margin: 5px 5px;
    
    
}

.myEditor {
    border: 2px solid;
    background-color: #f0f0f0 !important;
}


#flags label {
    padding-left: 10px;
}

#matchResult {
    text-align: right;
    font-size: smaller;
}