#regexpEditor {
    font-size: 18px;
    
    margin: 5px 5px;
    
    
}

.myEditor {
    border: 2px solid;
    background-color: #f0f0f0 !important;
}


#flags label {
    padding-left: 10px;
}

#matchResult {
    text-align: right;
    font-size: smaller;
}

#captureGroups td {
    padding: 5px 10px;
}

#captureGroups td:first-child {
    text-align: right;
    font-weight: bold;
    color: #006;
}

#captureGroups span.spec {
    color: #777;
    font-style: italic;
}

.actionButton img {
    border: 1px solid #fff;
}

.actionButton img:hover {
    border: 1px solid #ddd;
}
