<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Regex Util"
            id="RegexUtil">
      </category>
      <view
            name="Regex Util"
            icon="icons/e.gif"
            category="RegexUtil"
            class="com.ess.regexutil.views.RegexView"
            id="regexutil.views.RegexView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.ess.regexutil.views.RegexView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
