.ace_error {
    color: #f00;
}

.ace_openBracket, .ace_closedBracket, .ace_comma, .ace_symbolBracket, .ace_multiplexer, .ace_dote, .ace_orSymbol, .ace_specSymbol, .ace_assertion {
    font-weight: bold;
    color: #000000;
}

.ace_numEsc, .ace_controlLetter, .ace_controlEsc {
    color: #000000;
}

.ace_charClassEsc {
    color: #009600;
}

.ace_escapeSymbol {
    color: #ccc;
}

.ace_defText, .ace_escapedSymbol {
    color: #555;
}

.matched1 {
    background: #C8d0C0;
}

.matched2 {
    background: #C8a8FF;
}

.ace_marker-layer .matched1, .ace_marker-layer .matched2 {
    position: absolute;
    z-index: 5;
}

.ace_hidden-cursors .ace_cursor {
    visibility: hidden;
}